
<!--<p id="notice"><%= notice %></p>-->

<!--<h3><ul>Listing Students</ul></h3>-->

<!--<table border="1" class="table-fill" >-->
<!--  <thead>-->
<!--    <tr class="tables-heading">-->
<!--      <th>Student name</th>-->
<!--      <th>Tracking ID</th>-->
<!--      <th>Father name</th>-->
<!--      <th>DOB</th>-->
<!--      <th>SEX</th>-->
<!--      <th>City</th>-->
<!--      <th>Email</th>-->
<!--      <th>Phone</th>-->
<!--      <th>Mailing Address</th>-->
      <!--<th>Actions</th>-->
<!--      <th colspan="3">Actions</th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @students.each do |student| %>-->
<!--      <tr>-->
<!--        <td><%= student.name %></td>-->
<!--        <td><%= student.tracking_id %></td>-->
<!--        <td><%= student.father_name %></td>-->
<!--        <td><%= student.DOB %></td>-->
<!--        <td><%= student.SEX%></td>-->
<!--        <td><%= student.city%></td>-->
<!--        <td><%= student.email%></td>-->
<!--        <td><%= student.phone_number%></td>-->
<!--        <td><%= student.mailing_address%></td>-->
<!--        <td><%= link_to 'Show', student, :class => 'button-link' %></td>-->
        <!--<td><%= link_to ' Edit ', edit_student_path(student),:style => "margin-right: 5px;", :style => "color: blue;" %></td>-->
<!--        <td><%= link_to ' Edit ', edit_student_path(student),:class => 'button-link' %></td>-->
<!--        <td><%= link_to ' Destroy ', student, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button-link' %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'Add New Student', new_student_path, :class => 'button-link' %>-->
<!--<br><h3><%= link_to 'Log Out', :controller => 'users', :action => 'logout'  %></h3>-->
