<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Tracking ID:</strong>
  <%= @student.tracking_id %>
</p>

<p>
  <strong>Father Name:</strong>
  <%= @student.father_name %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @student.DOB %>
</p>

<p>
  <strong>SEX:</strong>
  <%= @student.SEX %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>
<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @student.phone_number %>
</p>
<p>
  <strong>Mailing Address:</strong>
  <%= @student.mailing_address %>
</p>





<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
