<%= form_for(@instructor) do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Instructor ID' %><br>
    <%= f.text_field :instructor_id %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :instructor_name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject_name %>
  </div>
  <div class="field">
    <%= f.label :usernme %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :Pass %><br>
    <%= f.text_field :password %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>