<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<h1><%= link_to 'instructor', instructors_path %></h1>
<%= link_to 'students', students_path %>
<%= link_to 'log out', :action => 'logout' %>
<br><h3><%= link_to 'Log Out', :controller => 'users', :action => 'logout' %></h3>
