<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
  </head>
  <body>
    <div class="container-fluid display-table">
      <div class="row display-table-row">
        <!-- side menu -->
        <div class="col-md-2 col-sm-1  hidden-xs display-table-cell valign-top" id="side-menu">
          <h1><span>Data<span><b>Burj</b></span></span></h1>
          <ul>
            <li class="link settings-btn">
              <a href="/users/instructor_index">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Dashboard</span>
                <!--<%= link_to 'Dashboard', users_path %> </span>-->
              </a>
            </li>
            <li class="link">
              <a href="/users/instructor_index?ins=<%="instructor_profile"%>">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">My Profile</span>
              </a>
            </li>
            <li class="link">
              <a href="/users/student_index?std=<%="student_profile"%>">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">My Schedule</span>
              </a>
            </li>
            <li class="link">
              <a href="/users/instructor_index?ins=attendance">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">My Sections</span>
              </a>
            </li>
              <li class="link">
              <a href="/users/instructor_index?ins=attendance">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Attendance</span>
              </a>
            </li>
            <li class="link active">
              <a href="/users/instructor_index?ins=lms_view">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Learning Management System</span>
              </a>
            </li>
            <li class="link active">
              <a href="/users/instructor_index?ins=ins_settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Settings</span>
              </a>
            </li>
          </ul>
          
        </div>

        <!-- main content area -->

        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
          <div class="row">
            <header id="nav-header" class="clearfix">
              <div class="col-md-5">
                <nav class="navbar-default pull-left">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <h3>lollll</h3>lol
                  </button>

                </nav>
              </div>

              <div class="col-md-7">
                <ul class="pull-right">
                  <li id="welcome" class="hidden-xs">DataBurj Instructor area</li>

                  <li class="fixed-width">
                    <a href="#">

                    </a>
                  </li>
                  <li>
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                      <a class="logout"><%= link_to "Log out", :controller => 'users', :action => 'logout' %></a>
                    </a>
                  </li>
                </ul>
              </div>
            </header>
    </div>

<!--######################################################-->
 
<% if @link == "attendance" %>
           <div id="content">
	            <header class="clearfix">
	              <h3 class="page_title">Manage Attendance</h3>
	            </header>

	            <div class="content-inner">
	              <div class="row">
	              	<div class="col-md-6">
	              		<form>
	              			<div class="settings-row">
	              				<div class="form-group">

	              				</div>
	              				<h5>Date</h5>
	              				<div class="form-group">
	              					<!--<input type="text" id="input" class="form-control"required="required" title="">-->
	              					 <%= Date.today.to_s %>
	              				</div>
	              				<h5>Confirm new Password</h5>
	              				<div class="form-group">
	              					<input type="text" id="input" class="form-control"required="required" title="">
	              				</div>
	              			</div>
	              			<button type="submit" class="btn btn-primary">Proceed</button>
	              		</form>
	              	</div>
	              </div>
	            </div>
<% end %>



<% if @link == "instructor_profile" %>
  <% if @instructor %>
    <div class = "animated fadeIn">
      <div id="dashboard-con">
        <div>
          <div class="dashboard-left-cell">
            <div class="admin-content-con">
              <header class="clearfix">
                <strong><h3 class="pull-left page_title"><%= @instructor.instructor_name %>'s details</h3></strong>
                <div class = "divider pull-right">
                <%= link_to "All Instructors", users_path( :admin => "instructors_view" ), :class => "btn btn-xs btn-primary pull-right", :role => "button" %>
              </header>
                  <strong>Tracking ID:</strong>&nbsp;&nbsp;&nbsp;<%= @instructor.instructor_id %><hr/>
                  <strong>Name:</strong>&nbsp;&nbsp;&nbsp;<%= @instructor.instructor_name %><hr/>
                  <strong>Email:</strong>&nbsp;&nbsp;&nbsp;<%= @instructor.email %><hr/>
                  <strong>Phone Number:</strong>&nbsp;&nbsp;&nbsp;<%= @instructor.phone_number %><hr/>
                  <strong>Subject Name:</strong>&nbsp;&nbsp;&nbsp;<%= @instructor.subject_name%><hr/>
                  <strong>DataBurj Username:</strong>&nbsp;&nbsp;&nbsp;<%= @instructor.username %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<% if @link == "lms_view" %>
  <div class="admin-content-con">
    <header class="clearfix">
      <strong><h5 class="pull-left page_title">Upload New File </h5></strong>
    </header>
    <%= form_for(@lms, :html => {:multipart => true}) do |f| %>
      <%= f.label "Section" %>
      <%= f.select :section_id, [["Select:", "?"],["Section A", "A"], ["Section B", "B"],["Section C", "C"],["Section D", "D"],["Section E", "E"],["Section F", "F"],["Section G", "G"], ["Section H", "H"], ["Section I", "I"], ["Section J", "J"], ["Section K", "K"], ["Section L", "L"]], { label: "Section" },{ class: "selectpicker" } %>
      <div class="field">
        <%= f.label :data %>
        <%= f.file_field :data %>
      </div>
      <br>
      <% instructor_id = @session_id %>
      <div class="actions">
        <%= f.submit "Upload" %>
      </div>
    <% end %>
    <!--################-->
    <br/>
    <header class="clearfix">
      <strong><h5 class="pull-left page_title">All Files </h5></strong>
    </header>
    <table class="table table-striped">
      <thead>
        <tr> 
          <th>Subject</th>
          <th>File name</th>
          <th>Uploaded At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @files %>
          <% @files.each do |file| %>
            <tr>
              <td><%= file.subject_name %></td>
              <td><%= file.file_name %></td>
              <td><%= file.updated_at %></td>
              <td>
                <%= link_to 'View', lms_path(:id => file.id ), target: '_blank', :class => 'btn btn-xs btn-primary', :role => "button" %>
                <%= link_to 'Delete', file, method: :delete, :class => 'btn btn-xs btn-danger', :role => "button", :data => {confirm: 'Are you sure you want to delete this?'} %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
<% if @link == "ins_settings" %>
<div id="content">
  <header class="clearfix">
    <b><h3 class="page_title">Change your password</h3></b>
  </header>

  <div class="content-inner">
    <div class="row">
    	<div class="col-md-6">
    		<form>
    			<div class="settings-row">
    				<div class="form-group">
    					  <%= bootstrap_form_for(@instructor) do |f| %>
    					    <%= f.password_field :password, label: "Current Password", :required => true %>
    				</div>
    				<div class="form-group">
    				  <%= f.password_field :password, label: "New Password", :required => true %>
    				</div>
    				<div class="form-group">
    				  <%= f.password_field :password, label: "Confirm New Password", :required => true %>
    				</div>
    					<% end %>
    			</div>
    			<button type="submit" class="btn btn-primary">Save Changes</button>
    		</form>
    	</div>
    </div>
  </div>

<% end %>

            <!--########################################-->

          <div class="row">
            <footer id="admin-footer" class="clearfix">
              <div class="pull-left"><b>Copyright </b>&copy; 2016</div>
              <div class="pull-right"><a href = "https://www.facebook.com/groups/1717841335126709/" target="_blank">DataBurj Developers</a></div>
            </footer>
          </div>
        </div>
      </div>
    </div>
</html>