<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>

  </head>
  <body>
    <div class="container-fluid display-table">
      <div class="row display-table-row">
        <!-- side menu -->
        <div class="col-md-2 col-sm-1  hidden-xs display-table-cell valign-top" id="side-menu">
          <h1><span>Data<span><b>Burj</b></span></span></h1>
          <ul>
            <li class="link settings-btn">
              <a href="/users/student_index ">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Dashboard</span>
                <!--<%= link_to 'Dashboard', users_path %> </span>-->
              </a>
            </li>
            <li class="link">
              <a href="/users/student_index?std=<%="student_profile"%>">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">My Profile</span>
              </a>
            </li>
             <li class="link">
              <a href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Undertaking</span>
              </a>
              <ul class="collapse collapseable" id="collapse-post">
                <li>
                  <a href="/users/student_index?std=<%="undertaking"%>">View Undertaking</a>
                </li>

                <li>
                  <a href="/users/student_index?std=<%="upload"%>">Upload Fee Voucher</a>
                </li>
                <li>
                  <%= link_to "View Uploaded Fee Voucher", student_index_users_path_path(:std => "view_file", :id => @session_id), target: '_blank' %>
                    <!--Render a new page for viewing uploaded fee voucher-->
                </li>
              </ul>
            </li>
              <li class="link">
              <a href="/users/index">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Attendance</span>
              </a>
            </li>
            <li class="link">
              <a href="/users/student_index?std=lms_view">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Learning Management System</span>
              </a>
            </li>
            <li class="link active">
              <a href="/users/student_index?std=std_settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs">Settings</span>
              </a>
            </li>
          </ul>
          
        </div>

        <!-- main content area -->

        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
          <div class="row">
            <header id="nav-header" class="clearfix">
              <div class="col-md-5">
                <nav class="navbar-default pull-left">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                  </button>

                </nav>
              </div>

              <div class="col-md-7">
                <ul class="pull-right">
                  <li id="welcome" class="hidden-xs">DataBurj Student area</li>

                  <li class="fixed-width">
                    <a href="#">

                    </a>
                  </li>
                  <li>
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                      <a class="logout"><%= link_to "Log out", :controller => 'users', :action => 'logout' %></a>
                    </a>
                  </li>
                </ul>
              </div>
            </header>
    </div>

<!--######################################################-->



<% if @link == "student_profile" %>

  <% if @student %>
<div class = "animated fadeIn">
  <div id="dashboard-con">
    <div>
      <div class="dashboard-left-cell">
        <div class="admin-content-con">
          <header class="clearfix">
            <strong><h3 class="pull-left page_title"><%= @student.name %>'s details</h3></strong>
            <div class = "divider pull-right">
            <%= link_to "All Students", users_path( :admin => "students_view" ), :class => "btn btn-xs btn-primary pull-right", :role => "button" %>
          </header>
              <strong>Name:</strong>&nbsp;&nbsp;&nbsp;<%= @student.name %><hr/>
              <strong>Tracking ID:</strong>&nbsp;&nbsp;&nbsp;<%= @student.tracking_id %><hr/>
              <strong>Section:</strong>&nbsp;&nbsp;&nbsp;<%= @student.section %><hr/>
              <strong>Father's Name:</strong>&nbsp;&nbsp;&nbsp;<%= @student.father_name %><hr/>
              <strong>Date of Birth:</strong>&nbsp;&nbsp;&nbsp;<%= @student.DOB %><hr/>
              <strong>Matric Percentage:</strong>&nbsp;&nbsp;&nbsp;<%= @student.matric_percentage %><hr/>
              <strong>Monthly Income:</strong>&nbsp;&nbsp;&nbsp;<%= @student.monthly_income %><hr/>
              <strong>Gender:</strong>&nbsp;&nbsp;&nbsp;<%= @student.SEX %><hr/>
              <strong>City:</strong>&nbsp;&nbsp;&nbsp;<%= @student.city %><hr/>
              <strong>Email Address:</strong>&nbsp;&nbsp;&nbsp;<%= @student.email %><hr/>
              <strong>Phone number:</strong>&nbsp;&nbsp;&nbsp;<%= @student.phone_number %><hr/>
              <strong>Secondary Phone number:</strong>&nbsp;&nbsp;&nbsp;<%= @student.secondary_phone_number %><hr/>
              <strong>Mailing Address:</strong>&nbsp;&nbsp;&nbsp;<%= @student.mailing_address %><hr/>
              <strong>DataBurj Username:</strong>&nbsp;&nbsp;&nbsp;<%= @student.username %>
      </div>
    </div>
  </div>

</div>
  <% end %>

<% end %>
<% if @link == "std_settings" %>
<div id="content">
	            <header class="clearfix">
	              <b><h3 class="page_title">Change your password</h3></b>
	            </header>

	            <div class="content-inner">
	              <div class="row">
	              	<div class="col-md-6">
	              		<form>
	              			<div class="settings-row">
	              				<div class="form-group">
	              						<%= bootstrap_form_for(@student) do |f| %>
	              					<%= f.password_field :password, label: "Current Password", :required => true %>
	              				
	              				</div>
	              				<div class="form-group">
	              				  <%= f.password_field :password, label: "New Password", :required => true %>
	              				</div>
	              				<div class="form-group">
	              				  <%= f.password_field :password, label: "Confirm New Password", :required => true %>
	              				</div>
	              					<% end %>
	              			</div>
	              			<button type="submit" class="btn btn-primary">Save Changes</button>
	              		</form>
	              	</div>
	              </div>
	            </div>

<% end %>
<% if @link == "undertaking" %>

<!--<p><%= link_to "Download Fee Voucher", users_path(:std => "std_undertaking", format: "pdf", target: "_blank") %></p>-->
<div class = "animated fadeIn">
  <div id="dashboard-con">
      <div class="dashboard-left-cell">
        <div class="admin-content-con">
          <header class="clearfix">
            <strong><h3 class="pull-left page_title"><%= @student.name %>'s Summer Coaching Session Undertaking</h3></strong>
            <div class = "divider pull-right">
          </header>
          <div id = "utext"><%= UndertakingText.find(1).display_text %></div><hr/>
            <input type="checkbox" id="check" unchecked="unchecked"/>
    <label for="check" id="checkLabel">Show Details</label><p/>
    <!--<p hidden id="hideMe"><%= link_to "Download Fee Voucher", student_path(@student, format: "pdf"), target: "_blank" %><p>-->
      <p hidden id="hideMe"><%= link_to "Download Fee Voucher", student_path(@student, format: "pdf"), target: "_blank", :class => "btn btn-primary", :role => "button" %><p>
                 
                     <script language="javascript" type="text/javascript">
var hideTest = {
  hidePara: function() {
    if ( $(this).is(':checked') ) {
      $('p#hideMe').slideDown('slow');
    } else {
      $('p#hideMe').slideUp('slow');
    }
  },
  setup: function() {
    $('#check').change(hideTest.hidePara);
  }
};
$(hideTest.setup);
    </script>
                 
                 <div class="checkbox">
                    <label>
                     <form action= ""  onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">

</form>
                      
                    </label>
                    </div>
                    &nbsp;

                  <hr/>
                  <strong> Instructions: </strong>
                  <br>
                  <p>You are required to follow the instructions mentioned below:</p>
                  
                  <ol>
                    <li>Dowload the voucher from the button given above.</li>
                    <li>Take a print-out of the voucher.</li>
                    <li>Submit it in the relevant bank.</li>
                    <li>Obtain a photocopy of the paid voucher.</li>
                    <li>Submit the scanned copy of that voucher here before the specified deadline.</li>
                  </ol>
                  
                    &nbsp;
                    
                  <p><%= link_to "Download Fee Voucher", student_path(@student, format: "pdf"), target: "_blank" %></p>
  
                    <!--OWAIS WILL WRITE CODE HERE-->
                    <!--PUT A "DOWNLOAD VOUCHER BUTTON AND DOWLOAD PDF"-->
          
                    
                    <!--<%= link_to "Upload Fee Receipt", users_path, :class => "btn btn-primary pull-left", :role => "button" %>-->
                  
                  <br/>
                  <br/>
                  </div>
                  </div>
                  
      </div>
    </div>
  </div>
</div>
</div>


<% end %>


<% if @link == "upload" %>
  <% if @undertaking == "already_uploaded" %> 
    Instructions: Yaar aik bar hi sahi dfa daal deta
    <p><%= link_to "Upload File again", :controller => "undertakings", :action => "destroy" %></p>
  <% else %>
    <%= form_for(@undertaking, :html => {:multipart => true}) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :file_name %>
      </div>
      <div class="field">
        <%= f.label :data %>
        <%= f.file_field :data %>
      </div>
      <% tracking_id = @session_id %>
      <div class="actions">
        <%= f.submit "Upload" %>
      </div>
    <% end %>
  <% end %>
  <br/><br/>
<% end %>

<% if @link == "lms_view" %>
  <div class="admin-content-con">
    <header class="clearfix">
      <strong><h5 class="pull-left page_title">All Files </h5></strong>
    </header>
    <table class="table table-striped">
      <thead>
        <tr> 
          <th>Section</th>
          <th>Subject</th>
          <th>File name</th>
          <th>Uploaded At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @files %>
          <% @files.each do |file| %>
            <tr>
              <td><%= file.section_id %></td>
              <td><%= file.subject_name %></td>
              <td><%= file.file_name %></td>
              <td><%= file.updated_at %></td>
              <td>
                <%= link_to 'View', lms_path(:id => file.id ), target: '_blank', :class => 'btn btn-xs btn-primary', :role => "button" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>

            <!--########################################-->

          <div class="row">
            <footer id="admin-footer" class="clearfix">
              <div class="pull-left"><b>Copyright </b>&copy; 2016</div>
              <div class="pull-right"><a href = "https://www.facebook.com/groups/1717841335126709/" target="_blank">DataBurj Developers</a></div>
            </footer>
          </div>
        </div>
      </div>
    </div>
</html>