<p id="notice"><%= notice %></p>

<p>
  <strong>Section ID:</strong>
  <%= @section.section_id %>
</p>

<p>
  <strong>Section Name:</strong>
  <%= @section.section_name %>
</p>

<p>
  <strong>Instructor ID:</strong>
  <%= @section.instructor_id %>
</p>



<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
