<!DOCTYPE html>
<% unless params[:action] == 'login' %>
  <% if flash[:notice] %>
    <div id = "notice_wrapper" >
      <p class = "notice pull-right"><%= flash[:notice] %></p>
    </div>
  <% end %>
<% end %>

<html>
<head>
  <title>Databurjproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
</head>
<body>
<%= yield %>

</body>
</html>

